/* Background color */
body {
    background-color: #8f8f8f;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 30px;
    text-align: center;
}
/* title*/
.title {
    font-size: 40px;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 60px;
}

/* dark mode option*/
.option {
    font-size: 28px;
    font-weight: bold;
    color: black; 
    cursor: pointer;
    margin-top: 40px;
}

/* return button*/
.return {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: black;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
