/* Login Page WIP */
body {
    background-color: #8f8f8f;   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Welcome text at the top */
.login-box h1 {
    color: white;
    margin-bottom: 40px;
    font-size: 36px;
    text-align: center;
}

/* White labels */
.login-box label {
    display: block;
    color: white;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 5px;
}

/* Input boxes for username and password */
.login-box input {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
}

/* login button*/
.login-box button {
    margin-top: 25px;
    background-color: white;
    color: black;
    padding: 14px 50px;
    font-size: 24px;
    font-weight: 700;              
    border-radius: 14px;
    border: 4px solid black;          
    cursor: pointer;

    /* add shadow to match wireframe drawing */
    box-shadow: 4px 6px 0px black;
}

.login-box button:hover {
    opacity: 0.9;
}

/* Center the login box*/
.login-box {
    width: 350px;
    text-align: center;
}

/* error message for incorrect inputs */
.error {
    color: red;
    margin-top: 10px;
    height: 20px;
}
