:root {

    /* colours for switch*/
    --bg-color-light: #eff1f5;
    --bg-color-dark: #1e1e2e;
    --border-color-light: #4c4f69;
    --border-color-dark: #a6adc8;
    --sun-color: #df8e1d;
    --moon-color: #cdd6f4;
    --day-bg-color: #04a5e5;
    --night-bg-color: #313244;
    --cloud-color: #eff1f5;
    --star-color: #cdd6f4;

    /* colours for enabling light/dark*/
    --text-color: #4c4f69;
    --bg-color: #eff1f5;
    --coll-color: #ccd0da;
    --link-color: #04a5e5;
    --btn-color: #209fb5;
    --btn-hover: #04a5e5;
    --btn-text: #eff1f5;
    --shadow: rgba(0, 0, 0, 0.2);
    --header-color: #e6e9ef;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    
    background-color: var(--bg-color);
    position: static;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    transition: all 0.8s ease;
    color: var(--text-color);
}

/* header*/
.header {
    display: static;
    height: 10%;
    width: 100%;
    align-items: center;
    padding: 20px 10px;
    position: fixed;
    top: 0;
    background-color: var(--header-color);
    transition: all 0.8s ease;
}

.header-right {
    float: right;
}

.header-btn{
    padding: 6px;
    margin-right: 25px;
    color: var(--btn-text);
    background: var(--btn-color);
    border-radius: 10px;
}



.not-header {
    padding-top: 7%;
}

.home {
    position: relative;
    width: 50px;
    height: 50px;
    left: 2%;
}

/* collapsible part */
.collapsible {
    background-color: var(--btn-color);
    color: var(--btn-text);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: var(--btn-hover);
}

.file-list {
    position: static;
    overflow: hidden;
    background-color: var(--coll-color);
    max-height: 0;
    transition: max-height 0.2s ease-out, background-color 0.8s ease, color 0.8s ease;
}

div.file-list * {
    padding: 20px;
}

/* this is for fancy switch button*/

body.no-animation,
.no-animation * {
    transition: none !important;
    animation: none !important;
}

.theme-switcher-grid {
    display: grid;
    grid-template-columns: repeat(54, 1px);
    grid-template-rows: repeat(24, 1px);
    gap: 0;
    position: relative;
    right: 30px;
    background-color: var(--day-bg-color);
    border-radius: 49px;
    border: 1px solid var(--border-color-light);
    cursor: pointer;
    transition: background-color 0.8s ease, border-color 0.8s ease;
    appearance: none;
    padding: 0;
}

.theme-switcher-grid.night-theme {
    background-color: var(--night-bg-color);
    border-color: var(--border-color-dark);
}

.sun {
    background-color: var(--sun-color);
    grid-column: 3 / 23;
    grid-row: 3 / 23;
    border-radius: 50%;
    transition: grid-column 0.8s ease, background-color 0.8s ease;
    height: 20px;
}

.theme-switcher-grid.night-theme .sun {
    grid-column: 33 / 53;
    background-color: var(--moon-color);
}

.moon-overlay {
    position: absolute;
    border-radius: 50%;
    transition: left 0.8s ease, background-color 0.8s ease;
    z-index: 1;
    background-color: var(--day-bg-color);
}

.theme-switcher-grid.night-theme .moon-overlay {
    display: block;
    left: calc(28 / 54 * 100%);
    top: calc(4 / 29 * 100%);
    width: 18px;
    height: 18px;
    background-color: var(--night-bg-color);
}

.cloud-ball {
    background-color: var(--cloud-color);
    border-radius: 50%;
    width: 9px;
    height: 9px;
    position: absolute;
    transition: all 0.8s ease;
    z-index: 2;
}

#ball1 {
    top: calc((8 / 24) * 100%);
    left: calc((12 / 54) * 100%);
}

#ball2 {
    top: calc((8 / 24) * 100%);
    left: calc((17 / 54) * 100%);
}

#ball3 {
    top: calc((8 / 24) * 100%);
    left: calc((22 / 54) * 100%);
}

#ball4 {
    top: calc((6 / 24) * 100%);
    left: calc((17 / 54) * 100%);
}

.theme-switcher-grid.night-theme #ball1 {
    top: calc((16 / 24) * 100%);
    left: calc((16 / 54) * 100%);
    width: 2px;
    height: 2px;
}

.theme-switcher-grid.night-theme #ball2 {
    top: calc((3 / 24) * 100%);
    left: calc((22 / 54) * 100%);
    width: 2px;
    height: 2px;
}

.theme-switcher-grid.night-theme #ball3 {
    top: calc((10 / 24) * 100%);
    left: calc((29 / 54) * 100%);
    width: 2px;
    height: 2px;
}

.theme-switcher-grid.night-theme #ball4 {
    top: calc((5 / 24) * 100%);
    left: calc((34 / 54) * 100%);
    width: 2px;
    height: 2px;
}

.star {
    background-color: var(--star-color);
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.8s ease;
}

#star1 {
    top: calc((7 / 24) * 100%);
    left: calc((10 / 54) * 100%);
    border-radius: 50%;
}

#star2 {
    top: calc((9 / 24) * 100%);
    left: calc((16 / 54) * 100%);
    border-radius: 50%;
}

#star3 {
    top: calc((13 / 24) * 100%);
    left: calc((23 / 54) * 100%);
    border-radius: 50%;
}

#star4 {
    top: calc((18 / 24) * 100%);
    left: calc((29 / 54) * 100%);
    border-radius: 50%;
}

.theme-switcher-grid.night-theme #star1,
.theme-switcher-grid.night-theme #star2,
.theme-switcher-grid.night-theme #star3,
.theme-switcher-grid.night-theme #star4 {
    opacity: 1;
}

/* this is the end of switch button*/